{% extends 'talk/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Create Post - Blog{% endblock %}
{% block main_area %}

    <!-- Page content -->
{#    <div class="container-fluid mt-6">#}
        <div class="row">
            <div class="col-xl-7">
                <div class="card bg-default">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                                <h5 class="h3 text-white mb-0">평균 주당 근로시간</h5>
                            </div>
                            <div class="col">
                                {#                                <ul class="nav nav-pills justify-content-end">#}
                                {#                                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-dark" data-update='{"data":{"datasets":[{"data":[20, 50, 10, 40]}]}}' data-suffix="만원">#}
                                {#                                        <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">#}
                                {#                                            <span class="d-none d-md-block">2020년</span>#}
                                {#                                            <span class="d-md-none">M</span>#}
                                {#                                        </a>#}
                                {#                                    </li>#}
                                {#                                    <li class="nav-item" data-toggle="chart" data-target="#chart" data-update='{"data":{"datasets":[{"data":[20, 15, 75, 30]}]}}' data-suffix="만원">#}
                                {#                                        <a href="#" class="nav-link py-2 px-3 btn19" data-toggle="tab">#}
                                {#                                            <span class="d-none d-md-block">2019년</span>#}
                                {#                                            <span class="d-md-none">W</span>#}
                                {#                                        </a>#}
                                {#                                    </li>#}
                                {#                                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 30, 35, 65, 30, 40, 35, 10, 40]}]}}' data-suffix="만원">#}
                                {#                                        <a href="#" class="nav-link py-2 px-3" data-toggle="tab">#}
                                {#                                            <span class="d-none d-md-block">2018년</span>#}
                                {#                                            <span class="d-md-none">W</span>#}
                                {#                                        </a>#}
                                {#                                    </li>#}
                                {#                                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-suffix="만원">#}
                                {#                                        <a href="#" class="nav-link py-2 px-3" data-toggle="tab">#}
                                {#                                            <span class="d-none d-md-block">2017년</span>#}
                                {#                                            <span class="d-md-none">W</span>#}
                                {#                                        </a>#}
                                {#                                    </li>#}
                                {#                                </ul>#}
                                <select id="choice_job" class="form-control form-control-sm">
                                    <option value="건채" selected>건설·채굴직</option>
                                    <option value="경사금보">경영·사무·금융·보험직</option>
                                    <option value="교법사경소군">교육·법률·사회복지·경찰·소방직 및 군인</option>
                                    <option value="농어">농림어업직</option>
                                    <option value="미여숙음경청">미용·여행·숙박·음식·경비·청소직</option>
                                    <option value="보의">보건·의료직</option>
                                    <option value="설정생">설치·정비·생산직</option>
                                    <option value="연공">연구직 및 공학 기술직</option>
                                    <option value="영판운운">영업·판매·운전·운송직</option>
                                    <option value="예디방스">예술·디자인·방송·스포츠직</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Chart -->
                        <div class="chart">
                            <!-- Chart wrapper -->
                            <canvas id="lines"></canvas>
                            {#                            <canvas id="chart-sales-dark"></canvas>#}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="card">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-uppercase text-muted ls-1 mb-1">단위: %</h6>
                                <h5 class="h3 mb-0">초등학생 희망직업 상위 5위</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Chart -->
                        <div class="chart">
                            <canvas id="bars" width="600" height="400"></canvas>
                            {#                            <canvas id="bar-chart"></canvas>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center mb-3">
                            <div class="col">
                                <h3 class="mb-0">설문조사 데이터 표본(재직자)</h3>
                            </div>
                            <div class="col text-right">
                                <button id="know20" class="btn btn-sm btn-success yearbtn">2020</button>
                                <button id="know19" class="btn btn-sm btn-success yearbtn">2019</button>
                                <button id="know18" class="btn btn-sm btn-success yearbtn">2018</button>
                                <button id="know17" class="btn btn-sm btn-success yearbtn">2017</button>
                            </div>

                        </div>
                        <div class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">분야</th>
                                    <th scope="col">답변자 수</th>
                                    <th scope="col">신입 최고 초봉</th>
                                    <th scope="col">신입 평균 초봉</th>
                                    <th scope="col">경력자 최고 연봉</th>
                                    <th scope="col">경력자 평균 연봉</th>
                                    <th scope="col">답변자 평균 나이</th>
                                    <th scope="col">업종 비율</th>
                                    </th>
                                </tr>
                                </thead>
                                <tbody id="job-tb">
                                {% if know20 %}
                                    {% for know in know20 %}
                                        <tr>
                                            <th scope="row">
                                                <span>{{ know.large_level}}</span>
                                            </th>
                                            <td
                                            <span> {{ know.count }} 명</span>
                                            </td>
                                            <td>
                                                {{ know.top_start_salary }} 만원
                                            </td>
                                            <td>
                                                {{ know.avg_start_salary }} 만원
                                            </td>
                                            <td>
                                                {{ know.top_salary }} 만원
                                            </td>
                                            <td>
                                                {{ know.avg_salary }} 만원
                                            </td>
                                            <td>
                                                {{ know.avg_age }} 살
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="mr-2" id="ratio">{{ know.ratio}}%</span>
                                                    <div>
                                                        <div class="progress">
                                                            <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="{{ know.ratio}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ know.ratio}}%;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}